@using BlazorApp.Data
@using System.Reflection.Metadata
@using System.Net.Sockets
@using Radzen.Blazor
@using Radzen.Blazor.Rendering

@if (_dataStorageList == null)
{
    <p>Loading ....</p>
}
else
{
    <div class="efficiency-table-styling">
    <RadzenDataGrid @ref="EfficiencyDataGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                    AllowPaging="false" AllowSorting="true" Data="@_dataStorageList" TItem="EfficiencyData"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
        <Columns>
            <RadzenDataGridColumn TItem="EfficiencyData" Property="ManagerName" Filterable="true"
                                  Title="MANAGER" Frozen="false" Width="400px" Sortable="false">
                <Template Context="data">
                    <div style="display: grid; width: 200px; max-width: 200px; text-overflow: ellipsis; white-space: nowrap;" title="@data.ManagerName">
                        <span style="color: #FFFFFF; ">@ShortenManagerName(data)</span>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EfficiencyData" Property="EfficiencyScore" Filterable="false"
                                  Title="SCORE" Frozen="false" Width="100px">
                <Template Context="data">
                    <div style="display: grid; width: 60px; max-width: 60px; text-overflow: ellipsis; white-space: nowrap;" title="@data.EfficiencyScore">
                        <span style="color: #FFFFFF; ">@data.EfficiencyScore</span>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EfficiencyData" Property="TimeFinished" Filterable="false"
                                  Title="ENDTIME" Frozen="false" Width="300px" Sortable="false">
                <Template Context="data">
                    <div style="display: grid; width: 150px; max-width: 150px; text-overflow: ellipsis; white-space: nowrap;" title="@data.TimeFinished">
                        <span style="color: #FFFFFF; ">@data.TimeFinished</span>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EfficiencyData" Property="RowsRead" Filterable="false"
                                  Title="Read" Frozen="false" Width="100px" Sortable="false">
                <Template Context="data">
                    <div style="display: grid; width: 75px; max-width: 75px; text-overflow: ellipsis; white-space: nowrap;" title="@data.RowsRead">
                        <span style="color: #FFFFFF; ">@data.RowsRead</span>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EfficiencyData" Property="RowsWritten" Filterable="false"
                                  Title="Written" Frozen="false" Width="100px" Sortable="false">
                <Template Context="data">
                    <div style="display: grid; width: 75px; max-width: 75px; text-overflow: ellipsis; white-space: nowrap;" title="@data.RowsWritten">
                        <span style="color: #FFFFFF; ">@data.RowsWritten</span>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EfficiencyData" Property="TimeRan" Filterable="false"
                                  Title="Time ran" Frozen="false" Width="100px" Sortable="false">
                <Template Context="data">
                    <div style="display: grid; width: 75px; max-width: 75px; text-overflow: ellipsis; white-space: nowrap;" title="@data.TimeRan">
                        <span style="color: #FFFFFF; text-align: right;">@CalculateRuntime(data)</span>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EfficiencyData" Property="AvgCpu" Filterable="false"
                                  Title="CPU" Frozen="false" Width="100px" Sortable="false">
                <Template Context="data">
                    <div style="display: grid; width: 50px; max-width: 50px; text-overflow: ellipsis; white-space: nowrap;" title="@data.AvgCpu">
                        <span style="color: #FFFFFF; text-align: right;">@data.AvgCpu%</span>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EfficiencyData" Property="AvgMemory" Filterable="false"
                                  Title="Memory" Frozen="false" Width="100px" Sortable="false">
                <Template Context="data">
                    <div style="display: grid; width: 50px; max-width: 50px; text-overflow: ellipsis; white-space: nowrap;" title="@data.AvgMemoryPercent">
                        <span style="color: #FFFFFF; text-align: right;">@data.AvgMemoryPercent%</span>
                    </div>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    </div>
}

@code {
    //LogDataEventArgs _update;
    List<EfficiencyData> _dataStorageList;
    private int currentCount = 0;
    RadzenDataGrid<EfficiencyData> EfficiencyDataGrid;
    
    protected override async Task OnInitializedAsync()
    {
        _dataStorageList = await Task.Run(() => ConversionDataAssigner.GetManagerEfficiencyData("efficiency"));
        StateHasChanged();
        
        EfficiencyUpdateTriggered += async (o, args) =>
        {
            _dataStorageList.AddRange(args.EfficiencyDataList);
            await InvokeAsync(EfficiencyDataGrid.Reload);
            await InvokeAsync(StateHasChanged);
        };
        
        EfficiencyUpdateResseted += async (o, args) =>
        {
            _dataStorageList = null;
            await InvokeAsync(EfficiencyDataGrid.Reload);
            await InvokeAsync(StateHasChanged);
        };
    }

    //When rendering the cells, change the background color.
    void CellRender(DataGridCellRenderEventArgs<EfficiencyData> dataGridCellRenderEventArgs)
    {
        dataGridCellRenderEventArgs.Attributes.Add("style", $"background-color: #384561;");
    }

    private string ShortenManagerName(EfficiencyData efficiencyData)
    {
        return efficiencyData.ManagerName.Split('.').Last();
    }
    
    /* Calculates the runtime from ms to hh:mm:ss format */
    private string CalculateRuntime(EfficiencyData efficiencyData)
    {
        string seconds = (efficiencyData.TimeRan / 1000 % 60).ToString();
        
        string minutes = (((efficiencyData.TimeRan / 1000) / 60) % 60).ToString();
        
        string hours = (efficiencyData.TimeRan / 3600 / 1000).ToString();

        if (seconds.Length < 2)
        {
            seconds = "0" + seconds;
        }
        if (minutes.Length < 2)
        {
            minutes = "0" + minutes;
        }
        if (hours.Length < 2)
        {
            hours = "0" + hours;
        }

        if (hours == "00")
        {
            return minutes + ':' + seconds;
        } else
            return hours + ':' + minutes + ':' + seconds;
    }
}