@using BlazorApp.Data
@using System.Reflection.Metadata
@using System.Net.Sockets
@inject AnotherTest errorList;
@inject IJSRuntime jsRuntime; 

@if (errors == null)
{
    <p>Loading ....</p>
}
else
{
    <!-- The table with errors 
    RadzenTabsItem is each tab
    RadzenDataGrid is each data grid 
    Template is configuration of data in each column-->
    <RadzenTabs id="errorlog-tab">
    <Tabs>
        <RadzenTabsItem Text="All" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                            AllowPaging="false" AllowSorting="true" Data="@errors" TItem="Error"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Error" Property="_id" Filterable="true"
                                          Title="Manager name" Frozen="true" Width="400px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_severity" Filterable="false" Title="Severity" Frozen="true" Width="200px" >
                        <Template Context="data">
                            @if(data._severity == "INFO")
                            {
                                <span style='color:#5CBCA9'>@data._severity</span>
                            }
                            else if (data._severity == "WARNING")
                            {
                                <span style="color:#DD9B2B">@data._severity</span>
                            }
                            else if (data._severity == "ERROR")
                            {
                                <span style="color:#E35F52">@data._severity</span>
                            }
                            else
                            {
                                <span style="color:#FF1700">@data._severity</span>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_timestamp" Filterable="false" Title="Timestamp" Frozen="true" Width="300px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_message" Filterable="true" Title="Message" Frozen="true" Width="800px">
                        <Template Context="data">
                            <div class="messageContainer" style="display: grid;">
                                <span style="align-self: center; color: #FFFFFF; overflow-x: auto; white-space: nowrap;">@data._message</span>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Fatal" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                                        AllowPaging="false" AllowSorting="true" Data="@errors" TItem="Error"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Error" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="400px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_severity" Filterable="true" Title="Severity" Frozen="true" Width="200px"
                                          FilterValue=@("FATAL") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#FF1700'>@data._severity</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_timestamp" Filterable="false" Title="Timestamp" Frozen="true" Width="300px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_message" Filterable="false" Title="Message" Frozen="true" Width="800px">
                        <Template Context="data">
                            <div class="messageContainer" style="display: grid;">
                                <span style="align-self: center; color: #FFFFFF; overflow-x: auto; white-space: nowrap;">@data._message</span>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Error" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                                        AllowPaging="false" AllowSorting="true" Data="@errors" TItem="Error"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Error" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="400px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_severity" Filterable="true" Title="Severity" Frozen="true" Width="200px"
                                          FilterValue=@("ERROR") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#E35F52'>@data._severity</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_timestamp" Filterable="false" Title="Timestamp" Frozen="true" Width="300px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_message" Filterable="false" Title="Message" Frozen="true" Width="800px">
                        <Template Context="data">
                            <div class="messageContainer" style="display: grid;">
                                <span style="align-self: center; color: #FFFFFF; overflow-x: auto; white-space: nowrap;">@data._message</span>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Warning" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                                        AllowPaging="false" AllowSorting="true" Data="@errors" TItem="Error"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Error" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="400px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_severity" Filterable="true" Title="Severity" Frozen="true" Width="200px"
                                          FilterValue=@("WARNING") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#DD9B2B'>@data._severity</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_timestamp" Filterable="false" Title="Timestamp" Frozen="true" Width="300px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_message" Filterable="false" Title="Message" Frozen="true" Width="800px">
                        <Template Context="data">
                            <div class="messageContainer" style="display: grid;">
                                <span style="align-self: center; color: #FFFFFF; overflow-x: auto; white-space: nowrap;">@data._message</span>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Info" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                                        AllowPaging="false" AllowSorting="true" Data="@errors" TItem="Error"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Error" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="400px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_severity" Filterable="true" Title="Severity" Frozen="true" Width="200px"
                                          FilterValue=@("INFO") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#5CBCA9'>@data._severity</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_timestamp" Filterable="false" Title="Timestamp" Frozen="true" Width="300px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_message" Filterable="false" Title="Message" Frozen="true" Width="800px">
                        <Template Context="data">
                            <div class="messageContainer" style="display: grid;">
                                <span style="align-self: center; color: #FFFFFF; overflow-x: auto; white-space: nowrap;">@data._message</span>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
    
}


@code {
    /*EventConsole console;*/
    
    List<Error> errors;
    void OnClick(string buttonName)
    {
        /*console.Log($"{buttonName} clicked");*/
    }
    //When the application starts, get the list of errors
    protected override async Task OnInitializedAsync()
    {
        errors = await Task.Run(() => errorList.ErrorList());
    }

    //When rendering the cells, change the background color and remove the border.

    void CellRender(DataGridCellRenderEventArgs<Error> dataGridCellRenderEventArgs)
    {
        dataGridCellRenderEventArgs.Attributes.Add("style", $"background-color: #384561; border: none !important;");
    }
    
}