@using BlazorApp.Data
@using System.Reflection.Metadata
@inject AnotherTest errorList;

@if (errors == null)
{
    <p>Loading ....</p>
}
else
{
    <RadzenTabs id="errorlog-tab">
    <Tabs>
        <RadzenTabsItem Text="All" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@errors" TItem="Error" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Error" Property="_id" Filterable="false"
                                          Title="Manager name" Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_severity" Title="Severity" Width="100px">
                        <Template Context="data">
                            @if(data._severity == "INFO")
                            {
                                <span style='color:#5CBCA9'>@data._severity</span>
                            }
                            else if (data._severity == "WARNING")
                            {
                                <span style="color:#DD9B2B">@data._severity</span>
                            }
                            else if (data._severity == "ERROR")
                            {
                                <span style="color:#E35F52">@data._severity</span>
                            }
                            else
                            {
                                <span style="color:#FF1700">@data._severity</span>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_message" Title="Message" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._severity</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Fatal" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@errors" TItem="Error" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Error" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_severity" Title="Severity" Width="100px"
                                          FilterValue=@("FATAL") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#FF1700'>@data._severity</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_message" Title="Message" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._message</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Error" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@errors" TItem="Error" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Error" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_severity" Title="Severity" Width="100px"
                                          FilterValue=@("ERROR") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#E35F52'>@data._severity</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_message" Title="Message" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._message</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Warning" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@errors" TItem="Error" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Error" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_severity" Title="Severity" Width="100px"
                                          FilterValue=@("WARNING") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#DD9B2B'>@data._severity</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_message" Title="Message" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._message</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Info" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@errors" TItem="Error" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Error" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_severity" Title="Severity" Width="100px"
                                          FilterValue=@("INFO") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#5CBCA9'>@data._severity</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Error" Property="_message" Title="Message" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._message</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
    
}


@code {
    IEnumerable<Error> errors;
    
    protected override async Task OnInitializedAsync()
    {
        errors = await Task.Run(() => errorList.ErrorList());
    }

    void CellRender(DataGridCellRenderEventArgs<Error> dataGridCellRenderEventArgs)
    {
        dataGridCellRenderEventArgs.Attributes.Add("style", $"background-color: #384561; border: none !important;");
    }
}