@using BlazorApp.Data
@using System.Reflection.Metadata
@using System.Net.Sockets
@using Radzen.Blazor

@code
{
    //LogDataEventArgs _update;
    List<LogData> _dataStorageList;
    private int currentCount = 0;
    RadzenDataGrid<LogData> ErrorLogDataGrid;
    
    protected override async Task OnInitializedAsync()
    {
        _dataStorageList = await Task.Run(() => ConversionDataAssigner.GetErrorLogList("error"));
        StateHasChanged();
        
        ErrorUpdateTriggered += async (o, args) =>
        {
            _dataStorageList.AddRange(args.LogDataList);
            await InvokeAsync(ErrorLogDataGrid.Reload);
            await InvokeAsync(StateHasChanged);
        };

        ErrorUpdateResseted += async (o, args) =>
        {
            _dataStorageList = null;
            await InvokeAsync(ErrorLogDataGrid.Reload);
            await InvokeAsync(StateHasChanged);
        };
    }
    
    //When rendering the cells, change the background color and remove the border.
    void CellRender(DataGridCellRenderEventArgs<LogData> dataGridCellRenderEventArgs)
    {
        dataGridCellRenderEventArgs.Attributes.Add("style", $"background-color: #384561; border: none !important;");
    }
}

@if (_dataStorageList == null)
{
    <p>Loading ....</p>
}
else
{
    <!-- The table with errors 
    RadzenTabsItem is each tab
    RadzenDataGrid is each data grid 
    Template is configuration of data in each column-->
    <RadzenTabs id="errorlog-tab">
        <Tabs>
            <RadzenTabsItem Text="All" class="TabElement">
                <RadzenDataGrid @ref="ErrorLogDataGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                                AllowPaging="false" AllowSorting="true" Data="@_dataStorageList" TItem="LogData"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                    <Columns>
                        <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="true"
                                              Title="Manager name" Frozen="true" Width="400px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.ManagerName</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Grade" Filterable="false" Title="Severity" Frozen="true" Width="200px">
                            <Template Context="data">
                                @if (data.Grade == "INFO")
                                {
                                    <span style='color:#5CBCA9'>@data.Grade</span>
                                }
                                else if (data.Grade == "WARN")
                                {
                                    <span style="color:#DD9B2B">@data.Grade</span>
                                }
                                else if (data.Grade == "ERROR")
                                {
                                    <span style="color:#E35F52">@data.Grade</span>
                                }
                                else
                                {
                                    <span style="color:#FF1700">@data.Grade</span>
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Frozen="true" Width="300px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Timestamp</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Description" Filterable="true" Title="Message" Frozen="true" Width="800px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Description</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Fatal" class="TabElement">
                <RadzenDataGrid @ref="ErrorLogDataGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                                AllowPaging="false" AllowSorting="true" Data="@_dataStorageList" TItem="LogData"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                    <Columns>
                        <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                              Frozen="true" Width="400px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.ManagerName</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Severity" Frozen="true" Width="200px"
                                              FilterValue=@("FATAL") FilterOperator="FilterOperator.Equals">
                            <Template Context="data">
                                <span style='color:#FF1700'>@data.Grade</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Filterable="false" Title="Timestamp" Frozen="true" Width="300px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Timestamp</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Description" Filterable="false" Title="Message" Frozen="true" Width="800px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Description</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Error" class="TabElement">
                <RadzenDataGrid @ref="ErrorLogDataGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                                AllowPaging="false" AllowSorting="true" Data="@_dataStorageList" TItem="LogData"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                    <Columns>
                        <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                              Frozen="true" Width="400px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.ManagerName</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Grade" Filterable="true" Title="Severity" Frozen="true" Width="200px"
                                              FilterValue=@("ERROR") FilterOperator="FilterOperator.Equals">
                            <Template Context="data">
                                <span style='color:#E35F52'>@data.Grade</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Filterable="false" Title="Timestamp" Frozen="true" Width="300px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Timestamp</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Description" Filterable="false" Title="Message" Frozen="true" Width="800px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Description</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Warning" class="TabElement">
                <RadzenDataGrid @ref="ErrorLogDataGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                                AllowPaging="false" AllowSorting="true" Data="@_dataStorageList" TItem="LogData"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                    <Columns>
                        <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                              Frozen="true" Width="400px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.ManagerName</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Grade" Filterable="true" Title="Severity" Frozen="true" Width="200px"
                                              FilterValue=@("WARN") FilterOperator="FilterOperator.Equals">
                            <Template Context="data">
                                <span style='color:#DD9B2B'>@data.Grade</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Filterable="false" Title="Timestamp" Frozen="true" Width="300px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Timestamp</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Description" Filterable="false" Title="Message" Frozen="true" Width="800px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Description</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Info" class="TabElement">
                <RadzenDataGrid @ref="ErrorLogDataGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="999999"
                                AllowPaging="false" AllowSorting="true" Data="@_dataStorageList" TItem="LogData"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                    <Columns>
                        <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                              Frozen="true" Width="400px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.ManagerName</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Grade" Filterable="true" Title="Severity" Frozen="true" Width="200px"
                                              FilterValue=@("INFO") FilterOperator="FilterOperator.Equals">
                            <Template Context="data">
                                <span style='color:#5CBCA9'>@data.Grade</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Filterable="false" Title="Timestamp" Frozen="true" Width="300px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Timestamp</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Description" Filterable="false" Title="Message" Frozen="true" Width="800px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Description</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
    
}