@using BlazorApp.Data
@using System.Reflection.Metadata
@using System.Net.Sockets
@inject Blazored.SessionStorage.ISessionStorageService session

@code
{
    //LogDataEventArgs _update;
    List<LogData> _dataStorageList = new();
    private int currentCount = 0;
    protected override async Task OnInitializedAsync()
    {
        ErrorUpdateTriggered += async (o, args) =>
        {
            //_update = args;

            await session.SetItemAsync("SessionList", args);

            await session.GetItemAsync<List<LogData>>("SessionList");
            
            _dataStorageList.AddRange(args.LogDataList);
            await InvokeAsync(StateHasChanged);
        };

        ErrorUpdateResseted += async (o, args) =>
        {
            _dataStorageList = null;
            await InvokeAsync(StateHasChanged);
        };
    }
    
    //When rendering the cells, change the background color and remove the border.
    void CellRender(DataGridCellRenderEventArgs<LogData> dataGridCellRenderEventArgs)
    {
        dataGridCellRenderEventArgs.Attributes.Add("style", $"background-color: #384561; border: none !important;");
    }
}

@if (_dataStorageList == null)
{
    <p>Loading ....</p>
}
else
{
    <!-- The table with errors 
    RadzenTabsItem is each tab
    RadzenDataGrid is each data grid 
    Template is configuration of data in each column-->
    <h1>Count: @_dataStorageList.Count</h1>
    <RadzenTabs id="errorlog-tab">
    <Tabs>
        <RadzenTabsItem Text="All" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@_dataStorageList" TItem="LogData" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false"
                                          Title="Manager name" Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.ManagerName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Severity" Width="100px">
                        <Template Context="data">
                            @if(data.Grade == "INFO")
                            {
                                <span style='color:#5CBCA9'>@data.Grade</span>
                            }
                            else if (data.Grade == "WARN")
                            {
                                <span style="color:#DD9B2B">@data.Grade</span>
                            }
                            else if (data.Grade == "ERROR")
                            {
                                <span style="color:#E35F52">@data.Grade</span>
                            }
                            else
                            {
                                <span style="color:#FF1700">@data.Grade</span>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Description" Title="Message" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Fatal" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@_dataStorageList" TItem="LogData" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.ManagerName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Severity" Width="100px"
                                          FilterValue=@("FATAL") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#FF1700'>@data.Grade</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Description" Title="Message" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Error" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@_dataStorageList" TItem="LogData" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.ManagerName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Severity" Width="100px"
                                          FilterValue=@("ERROR") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#E35F52'>@data.Grade</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Description" Title="Message" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Warning" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@_dataStorageList" TItem="LogData" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.ManagerName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Severity" Width="100px"
                                          FilterValue=@("WARNING") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#DD9B2B'>@data.Grade</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Description" Title="Message" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Info" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@_dataStorageList" TItem="LogData" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.ManagerName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Severity" Width="100px"
                                          FilterValue=@("INFO") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#5CBCA9'>@data.Grade</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Description" Title="Message" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
    
}