@using BlazorApp.Data
@using System.Reflection.Metadata
@inject Test reconList;


@if (reconciliation == null)
{
    <p>Loading ....</p>
}
else
{
    <!-- The table with reconciliations 
    RadzenTabsItem is each tab
    RadzenDataGrid is each data grid 
    Template is configuration of data in each column-->
    
    <RadzenTabs id="reconciliation-tab">
    <Tabs>
        <RadzenTabsItem Text="All" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@reconciliation" TItem="Reconciliation" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_id" Filterable="false"
                                          Title="Manager name" Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_result" Title="Result" Width="100px">
                        <Template Context="data">
                            @if(data._result == "OK")
                            {
                                <span style='color:#5CBCA9'>@data._result</span>
                            }
                            else if (data._result == "DISABLED")
                            {
                                <span style="color:#DD9B2B">@data._result</span>
                            }
                            else if (data._result == "FAILED")
                            {
                                <span style="color:#E35F52">@data._result</span>
                            }
                            else
                            {
                                <span style="color:#FF1700">@data._result</span>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_description" Title="Description" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Mismatch" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@reconciliation" TItem="Reconciliation" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_result" Title="Result" Width="100px"
                                          FilterValue=@("MISMATCH") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#FF1700'>@data._result</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_description" Title="Description" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
            <RadzenTabsItem Text="Failed" class="TabElement">
                <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                                AllowPaging="true" AllowSorting="true" Data="@reconciliation" TItem="Reconciliation" ColumnWidth="200px"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                    <Columns>
                        <RadzenDataGridColumn TItem="Reconciliation" Property="_id" Filterable="false" Title="Manager name"
                                              Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data._id</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Reconciliation" Property="_result" Title="Result" Width="100px"
                                              FilterValue=@("FAILED") FilterOperator="FilterOperator.Equals">
                            <Template Context="data">
                                <span style="color:#E35F52">@data._result</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Reconciliation" Property="_timestamp" Title="Timestamp" Width="150px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data._timestamp</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Reconciliation" Property="_description" Title="Description" Width="350px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data._description</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
        <RadzenTabsItem Text="Disabled" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@reconciliation" TItem="Reconciliation" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_result" Title="Result" Width="100px"
                                          FilterValue=@("DISABLED") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style="color:#DD9B2B">@data._result</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_description" Title="Description" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Ok" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@reconciliation" TItem="Reconciliation" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_id" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._id</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_result" Title="Result" Width="100px"
                                          FilterValue=@("OK") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style="color:#5CBCA9">@data._result</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Reconciliation" Property="_description" Title="Description" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data._description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>

}

@code {
    IEnumerable<Reconciliation> reconciliation;
    
    //When the application starts, get the list of reconciliations
    protected override async Task OnInitializedAsync()
    {
        reconciliation = await Task.Run(() => reconList.ReconList());
    }
    
    //When rendering the cells, change the background color and remove the border.
    void CellRender(DataGridCellRenderEventArgs<Reconciliation> dataGridCellRenderEventArgs)
    {
        dataGridCellRenderEventArgs.Attributes.Add("style", $"background-color: #384561; border: none !important;");
    }
}

@* @code *@
@* { *@
@*     HealthDataEventsArgs _updateHealthData; *@
@* *@
@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         HealthUpdateTriggered += async (o, args) => *@
@*         { *@
@*             _updateHealthData = args; *@
@*             await InvokeAsync(StateHasChanged); *@
@*         }; *@
@* *@
@*         HealthUpdateResseted += async (a, args) => *@
@*         { *@
@*             _updateHealthData = null; *@
@*             await  InvokeAsync(StateHasChanged); *@
@*         }; *@
@*     } *@
@*      *@
@*     //When rendering the cells, change the background color and remove the border. *@
@*     void CellRender(DataGridCellRenderEventArgs<Reconciliation> dataGridCellRenderEventArgs) *@
@*     { *@
@*         dataGridCellRenderEventArgs.Attributes.Add("style", $"background-color: #384561; border: none !important;"); *@
@*     } *@
@* } *@