@using BlazorApp.Data
@using System.Reflection.Metadata
@using System.Net.Sockets

@code
{
    //ReconDataEventArgs _update;
    List<LogData> _dataStorageList = new();
    
    protected override async Task OnInitializedAsync()
    {
        ReconUpdateTriggered += async (o, args) =>
        {
            _dataStorageList.AddRange(args.ReconDataList);
            await InvokeAsync(StateHasChanged);
        };

        ReconUpdateResseted += async (o, args) =>
        {
            _dataStorageList = null;
            await InvokeAsync(StateHasChanged);
        };
    }
    
    //When rendering the cells, change the background color and remove the border.
    void CellRender(DataGridCellRenderEventArgs<LogData> dataGridCellRenderEventArgs)
    {
        dataGridCellRenderEventArgs.Attributes.Add("style", $"background-color: #384561; border: none !important;");
    }
}

@if (_dataStorageList == null)
{
    <p>Loading ....</p>
}
else
{
    <!-- The table with reconciliations 
    RadzenTabsItem is each tab
    RadzenDataGrid is each data grid 
    Template is configuration of data in each column-->
    <h1>Count: @_dataStorageList.Count</h1>
    <RadzenTabs id="reconciliation-tab">
    <Tabs>
        <RadzenTabsItem Text="All" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@_dataStorageList" TItem="LogData" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false"
                                          Title="Manager name" Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.ManagerName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Result" Width="100px">
                        <Template Context="data">
                            @if(data.Grade == "OK")
                            {
                                <span style='color:#5CBCA9'>@data.Grade</span>
                            }
                            else if (data.Grade == "DISABLED")
                            {
                                <span style="color:#DD9B2B">@data.Grade</span>
                            }
                            else if (data.Grade == "FAILED")
                            {
                                <span style="color:#E35F52">@data.Grade</span>
                            }
                            else
                            {
                                <span style="color:#FF1700">@data.Grade</span>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Description" Title="Description" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Mismatch" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@_dataStorageList" TItem="LogData" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.ManagerName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Result" Width="100px"
                                          FilterValue=@("MISMATCH") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style='color:#FF1700'>@data.Grade</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Description" Title="Description" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
            <RadzenTabsItem Text="Failed" class="TabElement">
                <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                                AllowPaging="true" AllowSorting="true" Data="@_dataStorageList" TItem="LogData" ColumnWidth="200px"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                    <Columns>
                        <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                              Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.ManagerName</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Result" Width="100px"
                                              FilterValue=@("FAILED") FilterOperator="FilterOperator.Equals">
                            <Template Context="data">
                                <span style="color:#E35F52">@data.Grade</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Width="150px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Timestamp</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="LogData" Property="Description" Title="Description" Width="350px">
                            <Template Context="data">
                                <span style="color: #FFFFFF">@data.Description</span>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
        <RadzenTabsItem Text="Disabled" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@_dataStorageList" TItem="LogData" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.ManagerName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Result" Width="100px"
                                          FilterValue=@("DISABLED") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style="color:#DD9B2B">@data.Grade</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Description" Title="Description" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Ok" class="TabElement">
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="1000"
                            AllowPaging="true" AllowSorting="true" Data="@_dataStorageList" TItem="LogData" ColumnWidth="200px"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or" CellRender="@CellRender">
                <Columns>
                    <RadzenDataGridColumn TItem="LogData" Property="ManagerName" Filterable="false" Title="Manager name"
                                          Frozen="true" Width="200px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.ManagerName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Grade" Title="Result" Width="100px"
                                          FilterValue=@("OK") FilterOperator="FilterOperator.Equals">
                        <Template Context="data">
                            <span style="color:#5CBCA9">@data.Grade</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Timestamp" Title="Timestamp" Width="150px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Timestamp</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="LogData" Property="Description" Title="Description" Width="350px">
                        <Template Context="data">
                            <span style="color: #FFFFFF">@data.Description</span>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>

}