@using ChartJs.Blazor.PieChart
@using BlazorApp.Data
@using System.Globalization
@using ChartJs.Blazor.LineChart
@using BlazorApp
@inherits Overview


<link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'> 
<link href="pages.Overview.razor.css" rel="stylesheet"/>

@code{
    // private List<ManagerStatusHandler> managers = new List<ManagerStatusHandler>();
    //
    // protected override async Task OnInitializedAsync()
    // {
    //     managers = await Task.Run(() => ConversionDataAssigner.FinishedManagers);
    // }

}

<div class="summary_container">
    <div class="summary_caption_container" style="text-align: center;">Summary</div>

    @* Current running manager info *@
    <div class="Current_manager_info_container">
        <div>Current manager: @ConversionDataAssigner._currentManager.Name</div><br>
        <div>Manager startTime: @ConversionDataAssigner._currentManager.StartTime</div>
    </div>

    <div class="Current_manager_container">
        <div class="Current_manager_errors">Current manager errors: @ConversionDataAssigner._currentManager.ErrorHandler.LogDataList.Count()
            <ul class="error-reconciliation-formatting">
                <div class="circle background-red"></div><li>Fatal: @ConversionDataAssigner._currentManager.ErrorHandler.LogDataList.Count(data => data.Grade == "FATAL")</li>
                <div class="circle background-lightred"></div><li>Error: @ConversionDataAssigner._currentManager.ErrorHandler.LogDataList.Count(data => data.Grade == "ERROR")</li>
                <div class="circle background-yellow"></div><li>Warning: @ConversionDataAssigner._currentManager.ErrorHandler.LogDataList.Count(data => data.Grade == "WARN")</li>
                <div class="circle background-green"></div><li>Info: @ConversionDataAssigner._currentManager.ErrorHandler.LogDataList.Count(data => data.Grade == "INFO")</li>
            </ul>
        </div>
        <div class="Current_manager_reconciliations">Current manager reconciliations: @ConversionDataAssigner._currentManager.ReconciliationHandler.LogDataList.Count()
            <ul class="error-reconciliation-formatting">
                <div class="circle background-red"></div><li>Mismatch: @ConversionDataAssigner._currentManager.ReconciliationHandler.LogDataList.Count(data => data.Grade == "MISMATCH")</li>
                <div class="circle background-lightred"></div><li>Failed: @ConversionDataAssigner._currentManager.ReconciliationHandler.LogDataList.Count(data => data.Grade == "FAILED")</li>
                <div class="circle background-yellow"></div><li>Disabled: @ConversionDataAssigner._currentManager.ReconciliationHandler.LogDataList.Count(data => data.Grade == "DISABLED")</li>
                <div class="circle background-green"></div><li>OK: @ConversionDataAssigner._currentManager.ReconciliationHandler.LogDataList.Count(data => data.Grade == "OK")</li>
            </ul>
        </div>
    </div>
    <div class="mind-the-gap">&nbsp;</div>

    @* Manager queue *@
    <div class="manager-queue-container">
        <div class="queue-text">
            <span class="queue-finished-text">Finished: <b>@ConversionDataAssigner.FinishedManagers.Count</b></span>
            <span class="queue-inqueue-text">In queue: <b>@ConversionDataAssigner._managerQueue</b></span>
        </div>
        <div class="manager-queue-circle">
            @foreach (ManagerStatusHandler manager in managers)
            {
                <div class="manager-circle @ManagerCircleColour(manager)" @onmousemove="@((e) => GetHoveredManager(manager.Id, e, manager))">
                    @if (manager.Status == "RUNNING")
                    {
                        <img src="Icons/current-manager-loader.svg" alt="loader" class="current-manager-loader">
                    }
                    @if (HoveredManager == manager.Id && HoveredManagerErrors != null)
                    {
                        <img src="Icons/triangle.svg" alt="triangle" class="hoverbox-arrow" style="position: absolute; left: @(MousePositionX + "px"); top: @(MousePositionY + "px"); transform: translate(-50%,-100%);">
                        <div class="hovered-manager" style="position: absolute; left: @(MousePositionX + "px"); top: @(MousePositionY + "px"); transform: translate(-50%,-13rem);">
                            <div class="hoverbox-info">
                                <div>Manager: @manager.Name</div>
                                <div>Runtime: @CalculateRuntime(manager)</div>
                                <div>Status: @manager.Status</div>
                            </div>
                            <div class="hoverbox-errors-recons">
                                <div class="hoverbox-erros">
                                    <div>Errors</div>
                                    <ul class="error-reconciliation-formatting">
                                        <div class="circle background-red"></div><li>Fatal: @HoveredManagerErrors[0]</li>
                                        <div class="circle background-lightred"></div><li>Error: @HoveredManagerErrors[1]</li>
                                        <div class="circle background-yellow"></div><li>Warning: @HoveredManagerErrors[2]</li>
                                        <div class="circle background-green"></div><li>Info: @HoveredManagerErrors[3]</li>
                                    </ul>
                                </div>
                                <div class="hoverbox-recons">
                                    <div>Reconciliations</div>
                                    <ul class="error-reconciliation-formatting">
                                        <div class="circle background-red"></div><li>Mismatch: @HoveredManagerRecons[0]</li>
                                        <div class="circle background-lightred"></div><li>Failed: @HoveredManagerRecons[1]</li>
                                        <div class="circle background-yellow"></div><li>Disabled: @HoveredManagerRecons[2]</li>
                                        <div class="circle background-green"></div><li>OK: @HoveredManagerRecons[3]</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    @* Total manager info *@
    @if (pieconfig_dataset_errors != null && pieconfig_dataset_reconciliations != null)
    {
        <div class="Total_errors_and_reconciliations_container">
            <div class="info_total_errors">
                Total Errors: @pieconfig_dataset_errors.Sum()
                <ul class="error-reconciliation-formatting">
                    <div class="circle background-red"></div><li>Fatal: @pieconfig_dataset_errors[0]</li>
                    <div class="circle background-lightred"></div><li>Error: @pieconfig_dataset_errors[1]</li>
                    <div class="circle background-yellow"></div><li>Warning: @pieconfig_dataset_errors[2]</li>
                    <div class="circle background-green"></div><li>Info: @pieconfig_dataset_errors[3]</li>
                </ul>
            </div>
            <div class="PieConfigTotalErrors">
                <Chart Config="_pieconfig_errors" Height="50" Width="50"></Chart>
            </div>

            <div class="info_total_reconciliations">
                Total Reconciliations: @pieconfig_dataset_reconciliations.Sum()
                <ul class="error-reconciliation-formatting">
                    <div class="circle background-red"></div><li>Mismatch: @pieconfig_dataset_reconciliations[0]</li>
                    <div class="circle background-lightred"></div><li>Failed: @pieconfig_dataset_reconciliations[1]</li>
                    <div class="circle background-yellow"></div><li>Disabled: @pieconfig_dataset_reconciliations[2]</li>
                    <div class="circle background-green"></div><li>OK: @pieconfig_dataset_reconciliations[3]</li>
                </ul>
            </div>
            <div class="pieConfigTotalReconciliations">
                <Chart Config="_pieconfig_reconciliations" Height="50" Width="50"></Chart>
            </div>
        </div>
    }
    @* Efficiency score table summary *@
    <div class="efficiency-container">
        <div class="efficiency-text">Median efficiency score: <b>2702</b></div><br/>
        <div class="efficiency-text">Total read: <b>17021044</b></div><br/>
        <div class="efficiency-text">Total written: <b>30461662</b></div>
    </div>
</div>

